In [1]:
%%capture
!pip install ipython-sql 
!pip install pymysql 
!pip install ipython-sql==0.4.1 
!pip install prettytable==0.7.2 
!pip install SQLAlchemy==1.4.49 
!pip install cryptography 
!pip install PyMySQL[rsa]

In [2]:
# prepare SQL environment
%load_ext sql

In [3]:
# Load the Chinook database stored on your local machine in the same folder as this notebook.
%sql sqlite:///chinook.db

In [4]:
%%sql

SELECT 
    * 
FROM
    Customers
LIMIT 5;

 * sqlite:///chinook.db
Done.

[(1, 'Luís', 'Gonçalves', 'Embraer - Empresa Brasileira de Aeronáutica S.A.', 'Av. Brigadeiro Faria Lima, 2170', 'São José dos Campos', 'SP', 'Brazil', '12227-000', '+55 (12) 3923-5555', '+55 (12) 3923-5566', 'luisg@embraer.com.br', 3),
 (2, 'Leonie', 'Köhler', None, 'Theodor-Heuss-Straße 34', 'Stuttgart', None, 'Germany', '70174', '+49 0711 2842222', None, 'leonekohler@surfeu.de', 5),
 (3, 'François', 'Tremblay', None, '1498 rue Bélanger', 'Montréal', 'QC', 'Canada', 'H2G 1A7', '+1 (514) 721-4711', None, 'ftremblay@gmail.com', 3),
 (4, 'Bjørn', 'Hansen', None, 'Ullevålsveien 14', 'Oslo', None, 'Norway', '0171', '+47 22 44 22 22', None, 'bjorn.hansen@yahoo.no', 4),
 (5, 'František', 'Wichterlová', 'JetBrains s.r.o.', 'Klanova 9/506', 'Prague', None, 'Czech Republic', '14700', '+420 2 4172 5555', '+420 2 4172 5555', 'frantisekw@jetbrains.com', 4)]

In [5]:
%%sql 
SELECT name FROM sqlite_master
WHERE type='table'
ORDER BY name;

 * sqlite:///chinook.db
Done.

[('albums',),
 ('artists',),
 ('customers',),
 ('employees',),
 ('genres',),
 ('invoice_items',),
 ('invoices',),
 ('media_types',),
 ('playlist_track',),
 ('playlists',),
 ('sqlite_sequence',),
 ('sqlite_stat1',),
 ('tracks',)]