## **Setting Up**

In [1]:
%%capture
!pip install ipython-sql 
!pip install pymysql 
!pip install ipython-sql==0.4.1 
!pip install prettytable==0.7.2 
!pip install SQLAlchemy==1.4.49 
!pip install cryptography 
!pip install PyMySQL[rsa]

In [2]:
#prepare SQL environment
%load_ext sql

In [3]:
import urllib.parse

USERNAME = "root"
PASSWORD = "password-y/@N"
HOST = "localhost"
PORT = 3306
DATABASE = "united_nations"

connection_string = f"mysql+pymysql://{USERNAME}:{urllib.parse.quote_plus(PASSWORD)}@{HOST}:{PORT}/{DATABASE}"
%sql $connection_string

In [4]:
%%sql

SELECT * 
FROM 
    united_nations.access_to_basic_services 
LIMIT 5;

 * mysql+pymysql://root:***@localhost:3306/united_nations
5 rows affected.

[('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2015, Decimal('94.67'), Decimal('98.00'), Decimal('17.542806'), Decimal('184.39'), Decimal('2699700.00'), Decimal('4.93')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2016, Decimal('94.67'), Decimal('98.00'), Decimal('17.794055'), Decimal('137.28'), Decimal('2699700.00'), Decimal('4.96')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2017, Decimal('95.00'), Decimal('98.00'), Decimal('18.037776'), Decimal('166.81'), Decimal('2699700.00'), Decimal('4.90')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2018, Decimal('95.00'), Decimal('98.00'), Decimal('18.276452'), Decimal('179.34'), Decimal('2699700.00'), Decimal('4.85')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2019, Decimal('95.00'), Decimal('98.00'), Decimal('18.513673'), Decimal('181.67'), Decimal('2699700.00'), Decimal('4.80'))]

In [5]:
%%sql

SHOW TABLES;

 * mysql+pymysql://root:***@localhost:3306/united_nations
2 rows affected.

[('access_to_basic_services',), ('country_list',)]

In [6]:
%%sql
/*SHOW COLUMNS FROM access_to_basic_services;*/
DESCRIBE access_to_basic_services;

 * mysql+pymysql://root:***@localhost:3306/united_nations
10 rows affected.

[('Region', 'varchar(32)', 'YES', '', None, ''),
 ('Sub_region', 'varchar(25)', 'YES', '', None, ''),
 ('Country_name', 'varchar(37)', 'NO', '', None, ''),
 ('Time_period', 'int', 'NO', '', None, ''),
 ('Pct_managed_drinking_water_services', 'decimal(5,2)', 'YES', '', None, ''),
 ('Pct_managed_sanitation_services', 'decimal(5,2)', 'YES', '', None, ''),
 ('Est_population_in_millions', 'decimal(11,6)', 'YES', '', None, ''),
 ('Est_gdp_in_billions', 'decimal(8,2)', 'YES', '', None, ''),
 ('Land_area', 'decimal(10,2)', 'YES', '', None, ''),
 ('Pct_unemployment', 'decimal(5,2)', 'YES', '', None, '')]

## **8.5 Initial data analysis with numeric functions**

### **1. What is the total number of entries in the dataset?**
Count the number of entries in the dataset using the COUNT function. Return the result with an alias.

In [7]:
%%sql

SELECT 
    COUNT(*) AS Number_of_observations
FROM 
    united_nations.access_to_basic_services;

 * mysql+pymysql://root:***@localhost:3306/united_nations
1 rows affected.

[(1048,)]

### **2. What are the earliest and latest years for which we have data?**
Determine the earliest and latest years by calculating the minimum and maximum of the Time_period column using the MIN and MAX functions respectively. Use aliases to name the results.

In [8]:
%%sql

SELECT 
    MIN(Time_period) AS Min_time_period,
    MAX(Time_period) AS Max_time_period
FROM 
	access_to_basic_services

 * mysql+pymysql://root:***@localhost:3306/united_nations
1 rows affected.

[(2015, 2020)]

### **3. How many countries are included in this dataset?**
Count the number of countries in the Country_name column. Note, if we only use the COUNT function without an additional keyword, SQL will return the total number of entries in the column, including duplicates. Use the DISTINCT keyword to only return unique country names. Return the result with an alias.

In [9]:
%%sql

SELECT 
    COUNT(DISTINCT Country_name) AS Number_of_countries
FROM 
	access_to_basic_services

 * mysql+pymysql://root:***@localhost:3306/united_nations
1 rows affected.

[(182,)]

### **4. What is the average percentage of people who have access to managed drinking water services across all years and all countries included in our dataset?**
Use the AVG function to calculate the average of the Pct_managed_drinking_water_services column. Use an alias.

In [10]:
%%sql

SELECT 
    AVG(Pct_managed_drinking_water_services) AS Avg_managed_drinking_water_services
FROM 
	access_to_basic_services

 * mysql+pymysql://root:***@localhost:3306/united_nations
1 rows affected.

[(Decimal('87.189103'),)]

## **8.7 Transform Columns**

### **1. What is the GDP per year for each country?**
Calculate the GDP per year for each country using the Country_name, Time_period, and Est_gdp_in_billions columns.

In [11]:
%%sql

SELECT 
    Country_name,
    Time_period,
    Est_gdp_in_billions
FROM 
	access_to_basic_services
LIMIT 5;

 * mysql+pymysql://root:***@localhost:3306/united_nations
5 rows affected.

[('Kazakhstan', 2015, Decimal('184.39')),
 ('Kazakhstan', 2016, Decimal('137.28')),
 ('Kazakhstan', 2017, Decimal('166.81')),
 ('Kazakhstan', 2018, Decimal('179.34')),
 ('Kazakhstan', 2019, Decimal('181.67'))]

### **2. What are the rounded-off values of the Est_gdp_in_billions column?**
When looking at many billion-dollar figures, the decimal places can be a little distracting. We can round off the numbers in the Est_gdp_in_billions column to make them more manageable.

Using the same query executed above, round off the values in the Est_gdp_in_billions column using the ROUND function.

In [12]:
%%sql

SELECT 
    Country_name,
    Time_period,
    ROUND(Est_gdp_in_billions) AS Rounded_est_gdp_in_billions
FROM 
	access_to_basic_services
LIMIT 5;

 * mysql+pymysql://root:***@localhost:3306/united_nations
5 rows affected.

[('Kazakhstan', 2015, Decimal('184')),
 ('Kazakhstan', 2016, Decimal('137')),
 ('Kazakhstan', 2017, Decimal('167')),
 ('Kazakhstan', 2018, Decimal('179')),
 ('Kazakhstan', 2019, Decimal('182'))]

### **3. What is the logarithm of GDP for each country over the time period?**
In order to calculate the growth rate of GDP over the time period, we can use the logarithm of GDP. This is because using the logarithm allows for easier comparison and analysis of growth rates with more digestible representations of larger numbers. Logarithmic transformations capture proportional changes rather than absolute changes, which is often more meaningful when analysing economic growth rates.

Calculate the logarithm of the Est_gdp_in_billions column using the LOG function.

In [13]:
%%sql

SELECT 
    Country_name,
    Time_period,
    LOG(Est_gdp_in_billions) AS Log_est_gdp_in_billions
FROM 
	access_to_basic_services
LIMIT 5;

 * mysql+pymysql://root:***@localhost:3306/united_nations
5 rows affected.

[('Kazakhstan', 2015, 5.217053079717073),
 ('Kazakhstan', 2016, 4.922022635739652),
 ('Kazakhstan', 2017, 5.116855440165964),
 ('Kazakhstan', 2018, 5.189283445523902),
 ('Kazakhstan', 2019, 5.202191854450653)]

### **4. What is the square root of GDP for each country over the time period?**
Alternatively, to get a similar effect, we could use the SQRT function to calculate the square roots of the values in the Est_gdp_in_billions column in order to get a smaller representation of these values.

Calculate the square root of the Est_gdp_in_billions column using the SQRT function.

In [14]:
%%sql

SELECT 
    Country_name,
    Time_period,
    SQRT(Est_gdp_in_billions) AS Sqrt_est_gdp_in_billions
FROM 
	access_to_basic_services
LIMIT 5;

 * mysql+pymysql://root:***@localhost:3306/united_nations
5 rows affected.

[('Kazakhstan', 2015, 13.579027947537334),
 ('Kazakhstan', 2016, 11.716654812701448),
 ('Kazakhstan', 2017, 12.915494570476191),
 ('Kazakhstan', 2018, 13.391788528796294),
 ('Kazakhstan', 2019, 13.478501400378308)]

### **5. Combine all into one query**

In [15]:
%%sql

SELECT 
    Country_name,
    Time_period,
    Est_gdp_in_billions,
    ROUND(Est_gdp_in_billions) AS Rounded_est_gdp_in_billions,
    LOG(Est_gdp_in_billions) AS Log_est_gdp_in_billions,
    SQRT(Est_gdp_in_billions) AS Sqrt_est_gdp_in_billions
FROM 
	access_to_basic_services
LIMIT 5;

 * mysql+pymysql://root:***@localhost:3306/united_nations
5 rows affected.

[('Kazakhstan', 2015, Decimal('184.39'), Decimal('184'), 5.217053079717073, 13.579027947537334),
 ('Kazakhstan', 2016, Decimal('137.28'), Decimal('137'), 4.922022635739652, 11.716654812701448),
 ('Kazakhstan', 2017, Decimal('166.81'), Decimal('167'), 5.116855440165964, 12.915494570476191),
 ('Kazakhstan', 2018, Decimal('179.34'), Decimal('179'), 5.189283445523902, 13.391788528796294),
 ('Kazakhstan', 2019, Decimal('181.67'), Decimal('182'), 5.202191854450653, 13.478501400378308)]

## **8.10 Create a summary statistic report in SQL**

### **1. What is the minimum, maximum, and average percentage of people that have access to managed drinking water services per region and sub_region?**

In [18]:
%%sql

SELECT 
    MIN(Pct_managed_drinking_water_services) AS Min_Pct_managed_drinking_water_services,
    MAX(Pct_managed_drinking_water_services) AS Max_Pct_managed_drinking_water_services,
    AVG(Pct_managed_drinking_water_services) AS Avg_Pct_managed_drinking_water_services
FROM 
	access_to_basic_services
GROUP BY Region, Sub_region;

 * mysql+pymysql://root:***@localhost:3306/united_nations
18 rows affected.

[(Decimal('80.33'), Decimal('100.00'), Decimal('93.144667')),
 (Decimal('67.00'), Decimal('99.67'), Decimal('91.894074')),
 (Decimal('75.67'), Decimal('100.00'), Decimal('92.699667')),
 (Decimal('73.33'), Decimal('100.00'), Decimal('90.626061')),
 (Decimal('91.00'), Decimal('100.00'), Decimal('97.911333')),
 (Decimal('64.00'), Decimal('100.00'), Decimal('96.005000')),
 (Decimal('79.00'), Decimal('100.00'), Decimal('93.798125')),
 (Decimal('86.00'), Decimal('100.00'), Decimal('94.880952')),
 (Decimal('61.33'), Decimal('100.00'), Decimal('88.906111')),
 (Decimal('59.00'), Decimal('100.00'), Decimal('95.031204')),
 (Decimal('100.00'), Decimal('100.00'), Decimal('100.000000')),
 (Decimal('53.67'), Decimal('99.00'), Decimal('82.700333')),
 (Decimal('73.67'), Decimal('100.00'), Decimal('93.414634')),
 (Decimal('91.00'), Decimal('100.00'), Decimal('98.506481')),
 (Decimal('46.33'), Decimal('100.00'), Decimal('70.128421')),
 (Decimal('38.33'), Decimal('77.33'), Decimal('58.967059')),
 (Decimal('73.33'), Decimal('92.00'), Decimal('82.645000')),
 (Decimal('53.33'), Decimal('99.00'), Decimal('72.365686'))]

### **2. What is the total number of countries within each region and sub_region?**

In [22]:
%%sql

SELECT 
    Region,
    Sub_region,
    COUNT(DISTINCT(Country_name)) AS Number_of_countries
FROM 
	access_to_basic_services
GROUP BY Region, Sub_region;

 * mysql+pymysql://root:***@localhost:3306/united_nations
18 rows affected.

[('Central and Southern Asia', 'Central Asia', 5),
 ('Central and Southern Asia', 'Southern Asia', 9),
 ('Eastern and South-Eastern Asia', 'Eastern Asia', 5),
 ('Eastern and South-Eastern Asia', 'South-Eastern Asia', 11),
 ('Europe and Northern America', 'Northern America', 5),
 ('Latin America and the Caribbean', 'Caribbean', 27),
 ('Latin America and the Caribbean', 'Central America', 8),
 ('Latin America and the Caribbean', 'South America', 14),
 ('Northern Africa and Western Asia', 'Northern Africa', 6),
 ('Northern Africa and Western Asia', 'Western Asia', 18),
 ('Oceania', 'Australia and New Zealand', 2),
 ('Oceania', 'Melanesia', 5),
 ('Oceania', 'Micronesia', 7),
 ('Oceania', 'Polynesia', 9),
 ('Sub-Saharan Africa', 'Eastern Africa', 20),
 ('Sub-Saharan Africa', 'Middle Africa', 9),
 ('Sub-Saharan Africa', 'Southern Africa', 5),
 ('Sub-Saharan Africa', 'Western Africa', 17)]

### **3. What is the total GDP for each region and sub_region?**

In [23]:
%%sql

SELECT 
    Region,
    Sub_region,
    SUM(Est_gdp_in_billions) AS Est_total_gdp_in_billions
FROM 
	access_to_basic_services
GROUP BY Region, Sub_region;

 * mysql+pymysql://root:***@localhost:3306/united_nations
18 rows affected.

[('Central and Southern Asia', 'Central Asia', Decimal('1670.32')),
 ('Central and Southern Asia', 'Southern Asia', Decimal('19824.66')),
 ('Eastern and South-Eastern Asia', 'Eastern Asia', Decimal('107123.37')),
 ('Eastern and South-Eastern Asia', 'South-Eastern Asia', Decimal('15563.18')),
 ('Europe and Northern America', 'Northern America', Decimal('9905.96')),
 ('Latin America and the Caribbean', 'Caribbean', Decimal('2070.17')),
 ('Latin America and the Caribbean', 'Central America', Decimal('8524.66')),
 ('Latin America and the Caribbean', 'South America', Decimal('19959.58')),
 ('Northern Africa and Western Asia', 'Northern Africa', Decimal('2736.80')),
 ('Northern Africa and Western Asia', 'Western Asia', Decimal('13605.83')),
 ('Oceania', 'Australia and New Zealand', Decimal('9241.73')),
 ('Oceania', 'Melanesia', Decimal('237.87')),
 ('Oceania', 'Micronesia', Decimal('46.92')),
 ('Oceania', 'Polynesia', Decimal('46.76')),
 ('Sub-Saharan Africa', 'Eastern Africa', Decimal('1944.61')),
 ('Sub-Saharan Africa', 'Middle Africa', Decimal('837.34')),
 ('Sub-Saharan Africa', 'Southern Africa', Decimal('2386.64')),
 ('Sub-Saharan Africa', 'Western Africa', Decimal('3621.31'))]

In [24]:
%%sql

SELECT Region,
    Sub_region,
    MIN(Pct_managed_drinking_water_services) AS min_Pct_managed_drinking_water_services,
    MAX(Pct_managed_drinking_water_services) AS max_Pct_managed_drinking_water_services,
    AVG(Pct_managed_drinking_water_services) AS avg_Pct_managed_drinking_water_services,
    COUNT(DISTINCT(Country_name)) AS Number_of_countries,
    SUM(EST_gdp_in_billions) AS EST_total_gdp_in_billions
FROM united_nations.Access_to_Basic_Services
GROUP BY Region, Sub_region;

 * mysql+pymysql://root:***@localhost:3306/united_nations
18 rows affected.

[('Central and Southern Asia', 'Central Asia', Decimal('80.33'), Decimal('100.00'), Decimal('93.144667'), 5, Decimal('1670.32')),
 ('Central and Southern Asia', 'Southern Asia', Decimal('67.00'), Decimal('99.67'), Decimal('91.894074'), 9, Decimal('19824.66')),
 ('Eastern and South-Eastern Asia', 'Eastern Asia', Decimal('75.67'), Decimal('100.00'), Decimal('92.699667'), 5, Decimal('107123.37')),
 ('Eastern and South-Eastern Asia', 'South-Eastern Asia', Decimal('73.33'), Decimal('100.00'), Decimal('90.626061'), 11, Decimal('15563.18')),
 ('Europe and Northern America', 'Northern America', Decimal('91.00'), Decimal('100.00'), Decimal('97.911333'), 5, Decimal('9905.96')),
 ('Latin America and the Caribbean', 'Caribbean', Decimal('64.00'), Decimal('100.00'), Decimal('96.005000'), 27, Decimal('2070.17')),
 ('Latin America and the Caribbean', 'Central America', Decimal('79.00'), Decimal('100.00'), Decimal('93.798125'), 8, Decimal('8524.66')),
 ('Latin America and the Caribbean', 'South America', Decimal('86.00'), Decimal('100.00'), Decimal('94.880952'), 14, Decimal('19959.58')),
 ('Northern Africa and Western Asia', 'Northern Africa', Decimal('61.33'), Decimal('100.00'), Decimal('88.906111'), 6, Decimal('2736.80')),
 ('Northern Africa and Western Asia', 'Western Asia', Decimal('59.00'), Decimal('100.00'), Decimal('95.031204'), 18, Decimal('13605.83')),
 ('Oceania', 'Australia and New Zealand', Decimal('100.00'), Decimal('100.00'), Decimal('100.000000'), 2, Decimal('9241.73')),
 ('Oceania', 'Melanesia', Decimal('53.67'), Decimal('99.00'), Decimal('82.700333'), 5, Decimal('237.87')),
 ('Oceania', 'Micronesia', Decimal('73.67'), Decimal('100.00'), Decimal('93.414634'), 7, Decimal('46.92')),
 ('Oceania', 'Polynesia', Decimal('91.00'), Decimal('100.00'), Decimal('98.506481'), 9, Decimal('46.76')),
 ('Sub-Saharan Africa', 'Eastern Africa', Decimal('46.33'), Decimal('100.00'), Decimal('70.128421'), 20, Decimal('1944.61')),
 ('Sub-Saharan Africa', 'Middle Africa', Decimal('38.33'), Decimal('77.33'), Decimal('58.967059'), 9, Decimal('837.34')),
 ('Sub-Saharan Africa', 'Southern Africa', Decimal('73.33'), Decimal('92.00'), Decimal('82.645000'), 5, Decimal('2386.64')),
 ('Sub-Saharan Africa', 'Western Africa', Decimal('53.33'), Decimal('99.00'), Decimal('72.365686'), 17, Decimal('3621.31'))]

## **8.12 Filtering and analysing a summary statistic report**

### **1. Filter for the year 2020.**

In [26]:
%%sql

SELECT Region,
    Sub_region,
    MIN(Pct_managed_drinking_water_services) AS Min_Pct_managed_drinking_water_services,
    MAX(Pct_managed_drinking_water_services) AS Max_Pct_managed_drinking_water_services,
    AVG(Pct_managed_drinking_water_services) AS Avg_Pct_managed_drinking_water_services,
    COUNT(DISTINCT(Country_name)) AS Number_of_countries,
    SUM(EST_gdp_in_billions) AS EST_total_gdp_in_billions
FROM Access_to_Basic_Services
WHERE Time_period = 2020
GROUP BY Region, Sub_region
ORDER BY EST_total_gdp_in_billions ASC;

 * mysql+pymysql://root:***@localhost:3306/united_nations
18 rows affected.

[('Oceania', 'Micronesia', Decimal('77.00'), Decimal('100.00'), Decimal('94.500000'), 6, Decimal('6.67')),
 ('Oceania', 'Polynesia', Decimal('92.00'), Decimal('100.00'), Decimal('98.555556'), 9, Decimal('7.84')),
 ('Oceania', 'Melanesia', Decimal('56.67'), Decimal('99.00'), Decimal('82.934000'), 5, Decimal('40.21')),
 ('Sub-Saharan Africa', 'Middle Africa', Decimal('38.33'), Decimal('77.33'), Decimal('59.332500'), 8, Decimal('123.22')),
 ('Central and Southern Asia', 'Central Asia', Decimal('85.00'), Decimal('100.00'), Decimal('94.134000'), 5, Decimal('239.10')),
 ('Latin America and the Caribbean', 'Caribbean', Decimal('65.00'), Decimal('100.00'), Decimal('95.910667'), 15, Decimal('343.26')),
 ('Sub-Saharan Africa', 'Eastern Africa', Decimal('48.33'), Decimal('100.00'), Decimal('70.018824'), 17, Decimal('359.10')),
 ('Sub-Saharan Africa', 'Southern Africa', Decimal('76.33'), Decimal('92.00'), Decimal('83.668000'), 5, Decimal('369.34')),
 ('Northern Africa and Western Asia', 'Northern Africa', Decimal('62.33'), Decimal('100.00'), Decimal('90.053333'), 6, Decimal('386.29')),
 ('Sub-Saharan Africa', 'Western Africa', Decimal('53.33'), Decimal('99.00'), Decimal('73.607059'), 17, Decimal('631.91')),
 ('Latin America and the Caribbean', 'Central America', Decimal('79.33'), Decimal('100.00'), Decimal('94.498750'), 8, Decimal('1347.35')),
 ('Oceania', 'Australia and New Zealand', Decimal('100.00'), Decimal('100.00'), Decimal('100.000000'), 2, Decimal('1538.63')),
 ('Europe and Northern America', 'Northern America', Decimal('91.00'), Decimal('100.00'), Decimal('98.000000'), 5, Decimal('1655.39')),
 ('Northern Africa and Western Asia', 'Western Asia', Decimal('63.00'), Decimal('100.00'), Decimal('95.593333'), 18, Decimal('2194.63')),
 ('Eastern and South-Eastern Asia', 'South-Eastern Asia', Decimal('75.33'), Decimal('100.00'), Decimal('92.120909'), 11, Decimal('2721.73')),
 ('Latin America and the Caribbean', 'South America', Decimal('90.33'), Decimal('100.00'), Decimal('95.667143'), 14, Decimal('2755.50')),
 ('Central and Southern Asia', 'Southern Asia', Decimal('80.33'), Decimal('99.67'), Decimal('93.074444'), 9, Decimal('3487.02')),
 ('Eastern and South-Eastern Asia', 'Eastern Asia', Decimal('81.00'), Decimal('100.00'), Decimal('93.400000'), 5, Decimal('19741.09'))]

### **2. Focus on countries where the percentage of managed drinking water services is below 60%**

In [27]:
%%sql

SELECT Region,
    Sub_region,
    MIN(Pct_managed_drinking_water_services) AS Min_Pct_managed_drinking_water_services,
    MAX(Pct_managed_drinking_water_services) AS Max_Pct_managed_drinking_water_services,
    AVG(Pct_managed_drinking_water_services) AS Avg_Pct_managed_drinking_water_services,
    COUNT(DISTINCT(Country_name)) AS Number_of_countries,
    SUM(EST_gdp_in_billions) AS EST_total_gdp_in_billions
FROM Access_to_Basic_Services
WHERE Time_period = 2020
AND Pct_managed_drinking_water_services < 60
GROUP BY Region, Sub_region
ORDER BY EST_total_gdp_in_billions ASC;

 * mysql+pymysql://root:***@localhost:3306/united_nations
4 rows affected.

[('Oceania', 'Melanesia', Decimal('56.67'), Decimal('56.67'), Decimal('56.670000'), 1, Decimal('23.85')),
 ('Sub-Saharan Africa', 'Western Africa', Decimal('53.33'), Decimal('57.33'), Decimal('55.330000'), 2, Decimal('31.67')),
 ('Sub-Saharan Africa', 'Middle Africa', Decimal('38.33'), Decimal('52.67'), Decimal('47.750000'), 4, Decimal('66.67')),
 ('Sub-Saharan Africa', 'Eastern Africa', Decimal('48.33'), Decimal('58.00'), Decimal('54.997500'), 4, Decimal('127.59'))]

### **3. Filter for the regions and sub-regions that have fewer than four countries.**

In [29]:
%%sql

SELECT Region,
    Sub_region,
    MIN(Pct_managed_drinking_water_services) AS Min_Pct_managed_drinking_water_services,
    MAX(Pct_managed_drinking_water_services) AS Max_Pct_managed_drinking_water_services,
    AVG(Pct_managed_drinking_water_services) AS Avg_Pct_managed_drinking_water_services,
    COUNT(DISTINCT(Country_name)) AS Number_of_countries,
    SUM(EST_gdp_in_billions) AS EST_total_gdp_in_billions
FROM Access_to_Basic_Services
WHERE Time_period = 2020
AND Pct_managed_drinking_water_services < 60
GROUP BY Region, Sub_region
HAVING Number_of_countries < 4
ORDER BY EST_total_gdp_in_billions ASC;

 * mysql+pymysql://root:***@localhost:3306/united_nations
2 rows affected.

[('Oceania', 'Melanesia', Decimal('56.67'), Decimal('56.67'), Decimal('56.670000'), 1, Decimal('23.85')),
 ('Sub-Saharan Africa', 'Western Africa', Decimal('53.33'), Decimal('57.33'), Decimal('55.330000'), 2, Decimal('31.67'))]